{% extends 'base.html' %}

{% block title %}Détails du Formateur{% endblock %}

{% block content %}
<h1>Détails du Formateur</h1>
<p>Nom : {{ formateur.nom }}</p>
<p>Prénom : {{ formateur.prenom }}</p>
<p>Expérience : {{ formateur.experience }} ans</p>
<p>Spécialités : 
    {% for specialite in formateur.specialites.all %}
        {{ specialite.nom }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<a href="{% url 'formateur:formateur_update' formateur.pk %}">Modifier</a>
<a href="{% url 'formateur:formateur_list' %}">Retour à la liste</a>
{% endblock %}