{% extends 'base.html' %}
{% block title %}Ajouter une Spécialité{% endblock %}
{% block content %}
    <h1>Ajouter une Spécialité</h1>
    <form method="post" class="needs-validation" novalidate>  <!-- Ajout de classes Bootstrap -->
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors|join:", " }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
{% endblock %}